.app-container {
    position: relative;
    height: calc(100vh - 64px);
}

.app-sidenav {
    min-width: 200px;
}

.app-sidenav-content {
    display: flex;
    height: 100%;
}

mat-select {
    width: 250px;
}