<mat-toolbar>
  <button mat-icon-button (click)="toggleSideNav()">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-select disableRipple (selectionChange)="changeResolution($event)" placeholder="Extend By" [value]="(extend | async).resolution.type">
    <mat-option *ngFor="let each of resolutions" [value]="each.type">
      {{ each.name + ' Shift Schedule' }}
    </mat-option>
  </mat-select>
</mat-toolbar>
<mat-sidenav-container class="app-container">
  <mat-sidenav mode="over" [opened]="sideNav | async" class="app-sidenav">
    <app-control></app-control>
  </mat-sidenav>
  <mat-sidenav-content class="app-sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>